<a href="https://colab.research.google.com/github/Amarjeet-1998/Python_Practice2022/blob/main/Practice_python_29_oct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
type("Hello, World!")

str

In [3]:
type(17)

int

In [4]:
type(3.2)

float

* and
* def
*finally
*in
*pass
*yield
*as
**del
*for
*is
*raise
*True
*assert
*elif
*from
*lambda
*return
*False
*break
*else
*global
*nonlocal
*try
*None
*class
*except
*if
*not
*while
*continue
*exec
*import
*or
*with

In [5]:
minutes = 645
hours = minutes / 60
hours

10.75

In [6]:
7 // 4

1

In [7]:
n = input("Please enter your name: ")

Please enter your name: Amarjeet

In [8]:
response = input("What is your radius? ")
r = float(response)
area = 3.14159 * r**2
print("The area is ", 3.14159 * r**2)

What is your radius? 8
The area is  201.06176

In [9]:
print("The area is ", 3.14159*float(input("What is your radius? "))**2)

What is your radius? 16
The area is  804.24704

In [11]:
for f in ["Amar","jeet","Jain","anmol"]:
  invite = "Hi" + f + " Please come to my party on saturday!"
  print(invite)

HiAmar Please come to my party on saturday!
Hijeet Please come to my party on saturday!
HiJain Please come to my party on saturday!
Hianmol Please come to my party on saturday!

In [13]:
for i in [0,1,2,3,4]:
  Amar.forward(50)
  Amar.left(90)

NameError: ignored

In [14]:
'''def Name(parameters):
  statements'''

'def Name(parameters):\n  statements'

In [15]:
def final_amt(p,r,n,t):

  a = p * (1+r/n) ** (n*t)
  return a


toInvest = float(input("How much do you want to invest?"))
fnl = final_amt(toInvest, 0.08,12,5)
print("At the end of the period you'll have", fnl)

How much do you want to invest?10000
At the end of the period you'll have 14898.45708301605

In [18]:
def final_amt_v2(principalAmount, nominalPercentageRate,numTimesPerYear, Years):
  a = principalAmount * (1 + nominalPercentageRate / numTimesPerYear) ** (numTimesPerYear*Years)

  return a

def final_amt_v3(amt,rate, compounded, years):
  a =amt * (1 + rate/compounded) ** (compounded * years)
  return a

In [19]:
print(final_amt_v3(10000,0.08,5,10))

22114.921259423132

In [20]:
def final_amt(p, r, n, t):
  a = p * (1 + r/n) ** (n*t)
  return a

In [22]:
print(final_amt(1000,5,4,5))

11057332320.940012

* x and False == False
* False and x == False
* y and x == x and y
* x or True == True
* True or x == True
* x and x == x

In [24]:
if x % 2 == 0:
  print(x, "is even.")
  print("Did you know that 2 is the only even number that is prime?")

else:
  print(x, "is odd.")
  print("Did you know that multiplying two odd numbers " + "always gives an odd result?")

NameError: ignored

In [25]:
'''if BOOLEAN EXPRESSION:
  STATEMENT_1
else:
  STATEMENT_2'''

'if BOOLEAN EXPRESSION:\n  STATEMENT_1\nelse:\n  STATEMENT_2'

In [27]:

if x < 0:
  print("The negative number ", x, "is not valid here.")
  x =42
  print("I've decided to use the number 42 instead.")

print("The square root of ", x, "is ", math.sqrt(x))

TypeError: ignored

* if x < y:

    statement_A
* elif x > y:

    statement_B
* else:

    *Statements_C*

In [28]:
# if choice =="a":
#   function_one()
# elif choice == "b":
#   function_two()
# elif choice == "c":
#   function_three()
# else:
#   print("Invalid choice.")

NameError: ignored

In [29]:
# if x < y:
#     STATEMENTS_A
# else:
#     if x > y:
#         STATEMENTS_B
#     else:
#         STATEMENTS_C

In [31]:
x = 5
if 0 < x:
  if x < 10:
    print("x is a positive single digit.")

x is a positive single digit.

In [32]:
if 0 < x and x < 10:
  print("x is a positive single digit.")

x is a positive single digit.

In [33]:
def print_square_root(x):
  if x <== 0:
    print("positive numbers only, please.")
    return

  result = x ** 0.5
  print("The square root of", x , "is", result)

SyntaxError: ignored

In [35]:
age =16
if not (age >= 17):
  print("Hey, you're too young to get a driving licence!")

Hey, you're too young to get a driving licence!

In [36]:
if age < 17:
  print("Hey, you're too young to get a driving licence!")

Hey, you're too young to get a driving licence!

In [38]:
import math
a = math.sqrt(2.0)
print(a, a*a)
print(a*a == 2.0)

1.4142135623730951 2.0000000000000004
False

In [39]:
def area(radius):
  b = 3.14 * radius** 2
  return b

In [40]:
area(16)

803.84

In [41]:
def distance(x1,y1,x2,y2):
  dx = x2 - x1
  dy = y2 - y1
  return 0.0

In [42]:
def is_divisible(x,y):
  return x % y == 0

In [43]:
is_divisible(5,4)

False

In [44]:
def absolute_value(n):

  if n < 0:
    return 1
  elif n > 0:
    return

In [45]:
absolute_value(12)