<a href="https://colab.research.google.com/github/Amarjeet-1998/Python_Practice2022/blob/main/python_practice_29sep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

In [2]:
tuple1 =("orange", [10,20,30], (5,15,25))
tuple1[0]

'orange'

In [3]:
tuple1[1]

[10, 20, 30]

In [4]:
tuple1[1][1]

20

In [5]:
print(tuple1[1][1])

20

In [6]:
tuple1 = (50, )
print(tuple1)

(50,)

In [7]:
tuple1 = (10,20,30,40)

a, b, c, d = tuple1

print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [8]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

In [9]:
tuple1 = (11,22,33,44,55,66,77,88)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55, 66, 77)

In [11]:
tuple1 = (11, [22, 33], 44,55)
tuple1[1][0] =222
print(tuple1)

(11, [222, 33], 44, 55)

In [12]:
tuple1 = (('a', 23),('b', 37),('c',11),('d',29))
tuple1 = tuple(sorted(list(tuple1), key = lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [13]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

In [15]:
def check(t):
  return all(i == t[0] for i in t)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True

In [20]:
from datetime import datetime

date_string = 'Feb 25 2020  4:20PM'
datetime_object = datetime.strptime(date_string, '%b %d %Y %I:%M%p')
print(datetime_object)

2020-02-25 16:20:00

In [21]:
from datetime import datetime, timedelta

given_date = datetime(2020, 2, 25)
print("Given date")
print(given_date)

days_to_subtract = 7
res_date = given_date - timedelta(days=days_to_subtract)
print("New Date")
print(res_date)

Given date
2020-02-25 00:00:00
New Date
2020-02-18 00:00:00

In [22]:
from datetime import datetime
given_date = datetime(2020, 2, 25)
print("Given date is")
print(given_date.strftime("%A %d %B %Y"))

Given date is
Tuesday 25 February 2020

In [23]:
from datetime import datetime

given_date = datetime(2020, 7, 26)

#to get weekday as integer
print(given_date.today().weekday())

#to get the english name of the weekday
print(given_date.strftime("%A"))

3
Sunday

In [24]:
from datetime import datetime, timedelta

given_date = datetime(2020, 3, 22, 10, 00, 00)
print("Given date")
print(given_date)

days_to_add = 7
res_date = given_date + timedelta(days=days_to_add, hours = 12)
print("New Delhi")
print(res_date)

Given date
2020-03-22 10:00:00
New Delhi
2020-03-29 22:00:00

In [25]:
import time

milliseconds = int(round(time.time() * 1000))
print(milliseconds)

1664461415436

In [26]:
from datetime import datetime

given_date = datetime(2020, 2, 25)
string_date = given_date.strftime("%Y-%m-%d %H:%M:%S")
print(string_date)

2020-02-25 00:00:00

In [27]:
from datetime import datetime

from dateutil.relativedelta import relativedelta

given_date = datetime(2020, 2, 25).date()

months_to_add = 4
new_date = given_date + relativedelta(months=+ months_to_add)
print(new_date)

2020-06-25

In [28]:
from datetime import datetime

date_1 = datetime(2020, 2, 25).date()

date_2 = datetime(2020, 9, 17).date()

delta = None
if date_1 > date_2:
  print("date_1 is greater")
  delta = date_1 - date_2
else:
  print("date_2 is greater")
  delta = date_2 - date_1

print("Difference is", delta.days, "days")

date_2 is greater
Difference is 205 days

In [30]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

modelX = Vehicle(240, 18)
print(modelX.max_speed, modelX.mileage)

240 18

In [31]:
class Vehicle:
  pass

In [34]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

In [37]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 180, 12)
print("Vehicle Name:", School_bus.name, "Speed:", School_bus.max_speed, "Mileage:", School_bus.mileage)

Vehicle Name: School Volvo Speed: 180 Mileage: 12

In [38]:
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

In [39]:
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
    # assign default value to capacity
    def seating_capacity(self, capacity=50):
        return super().seating_capacity(capacity=50)

School_bus = Bus("School Volvo", 180, 12)
print(School_bus.seating_capacity())

The seating capacity of a School Volvo is 50 passengers

In [40]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    pass

class Car(Vehicle):
    pass

In [41]:
class Vehicle:
    # Class attribute
    color = "White"

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    pass

class Car(Vehicle):
    pass

School_bus = Bus("School Volvo", 180, 12)
print(School_bus.color, School_bus.name, "Speed:", School_bus.max_speed, "Mileage:", School_bus.mileage)

White School Volvo Speed: 180 Mileage: 12

In [42]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5000