<a href="https://colab.research.google.com/github/Amarjeet-1998/Python_Practice2022/blob/main/python_prac1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def foo():
  call_counter = 0
  def bar(y):
    nonlocal call_counter
    call_counter += 1
    return (f'y = {y}, call_counter = {call_counter}')
  return bar

b = foo()
for i in range(10, 100, 10):
  print(b(i))

y = 10, call_counter = 1
y = 20, call_counter = 2
y = 30, call_counter = 3
y = 40, call_counter = 4
y = 50, call_counter = 5
y = 60, call_counter = 6
y = 70, call_counter = 7
y = 80, call_counter = 8
y = 90, call_counter = 9

In [ ]:
def add(a,b):
  return (a + b)
def sub(a,b):
  return(a - b)
def mul(a,b):
  return (a*b)
def  div(a,b):
  return(a/b)
def pow(a,b):
  return (a** b)
def mod(a,b):
  return (a % b)
def calc(to_solve):
  operations = {'+' : add,
                "-": sub,
                '*': mul,
                '/': div,
                '**': pow,
                '%' : mod
                } 
op, first_s, second_s = to_solve.split()
first = int(first_s)
second = int(second_s)

return operations[op] (first, second)

In [ ]:
import operator

def calc(to_solve):
  operations = {'+': operator.add,
                '-': operator.sub,
                '*': operator.mul,
                '/': operator.truediv,
                '**': operator.pow,
                '%': operator.mod}
  op, first_s, second_s = to_solve.split()
  first = int(first_s)
  second = int(second_s)


  return operations [op](first, second)

print(calc('+ 2 3'))

5

In [3]:
def divide_or_square(number):
  if number % 5 == 0:
    sq_root = number ** 0.5
    return(f'The square-root of the number is {sq_root}')
  else:
    remainder = number % 5
    return(f'The remainder of the division is {remainder}')

print(divide_or_square(10))

The square-root of the number is 3.1622776601683795

In [4]:
def longest_value(d: dict):
  #using max and key len to get the longest value
  longest = max(d.values(), key = len)
  return longest

fruits = {'fruit': 'apple', 'color':'green'}
print(longest_value(fruits))

apple

In [5]:
def convert_add(list1):
  b = []
  for i in list1:
    b.append(int(i))
  return sum(b)
print(convert_add(['1','3','5']))

9

In [7]:
def convert_add(list1:list):
  list2 = []
  count = 0
  for i in list1:
    list2.append(int(i))
  for j in list2:
    count += j
  return list2

print(convert_add(['1','3','5']))

[1, 3, 5]

In [8]:
def check_duplicates(arr: list):
  for item in arr:
    #using count to find items more than one
    if arr.count(item) > 1:
      return item
    else:
      return ('No duplicates')

#lists
fruits = ['apple','orange','banana','apple']
names = ['Yoda','Moses','Joshua','Mark']

print(check_duplicates(fruits))
print(check_duplicates(names))

apple
No duplicates

In [12]:
register = {'Michael','yes','John','no','Peter','yes','Mary','yes'}

def register_check(reg: dict):
  #create a count variable
  count = 0
  for value in reg.values():
    if value == 'yes':
      count += 1
    return('Number of students in school is',count)

print(register_check(register))

AttributeError: ignored

In [15]:
register = {'Michael':'yes', 'John': 'no',
 'Peter':'yes', 'Mary': 'yes'}
def register_check(reg: dict):
 # Create a count variable
 count = 0
 for value in reg.values():
   if value == 'yes':
     count += 1
 return 'Number of students in school is', count
print(register_check(register))

('Number of students in school is', 3)

In [18]:
register = {'Michael':'Yes', 'john':'no',
            'Peter':'yes', 'Mary':'yes'}
          
def register_check(reg: dict):
  count = 0
  for value, key in reg.items():
    if value == 'yes':
      count += 1

  return('Number of students in school is', count)

print(register_check(register))

('Number of students in school is', 0)

In [19]:
names = ["kerry","dickson","John","Mary","carol","Rose","adam"]

# creating an empty list
d = []
#using sorted function to sort list in descending order
for name in sorted(names, reverse = True):
  if name.islower():
    d.append(name)
    tuple_names = tuple(d)

print(tuple_names)

('kerry', 'dickson', 'carol', 'adam')

In [20]:
def only_float(a,b):
  if type(a) == float and type(b) == float:
    return 2
  elif type(a) == float or type(b) == float:
    return 1
  else:
    return 0

print(only_float(12.1, 23))

1

In [24]:
def word_index(arr: list):
  for word in arr:
    for j in range(len(arr) - 1):
      #checking if the lengths of all the words are equal
      if len(arr[j]) == len(arr[j + 1]):
        return 0
      #using len function and max to find the longest word
      elif len(word) == len(max(arr)):
        return (f'The longest word is at index: {arr.index(word)}')
  
words1 = ['Hate','remorse','vengeance']
words2 = ['Love','Hate']
print(word_index(words1))
print(word_index(words2))

The longest word is at index: 2
0

In [25]:
def my_discount():
  price = int(input('Enter the price: '))
  discount = int(input('Enter the discount: '))
  aft_dsc = price * (100-discount)/100
  return ('Price after discount is ',aft_dsc)

print(my_discount())

Enter the price: 300
Enter the discount: 20
('Price after discount is ', 240.0)

In [26]:
students = ['Male', 'Female', 'female', 'male', 'male', 'male',
 'female', 'male', 'Female', 'Male', 'Female', 'Male', 'female']

def count_students(arr: list) -> list:
  #create an empty list to append lowercase strings
  new_list = []
  student_count = []
  for names in students:
    new_list.append(names.lower())
  
  for sex in new_list:
    if sex == 'male':
      student_count.append((sex, new_list.count(sex)))
      break
    
  for j in new_list:
    if j == 'female':
      student_count.append((j, new_list.count(j)))
      break
print(count_students(students))

None

In [29]:
def user_name():
  your_email = input("Enter your email ")
  user_name = your_email.split('@') [0]
  return (f'Your user name is {user_name}')

In [30]:
print(user_name())

Enter your email amarjeet214690@gmail.com
Your user name is amarjeet214690

In [31]:
list1 = [2, 5, 7, 8, 9]

def zeroed(arr: list) -> list:
  #Access and modify the first element
  arr[0] = 0
  # Access and modify the last element
  arr[-1] = 0
  return arr

print(zeroed(list1))

[0, 5, 7, 8, 0]

In [33]:
def string_range(num: int):
  x = [str(i) for i in range(num)]
  x = ".".join(x)
  return x

In [34]:
print(string_range(6))

0.1.2.3.4.5

In [36]:
names = ["Joseph", "Nathan", "Sasha", "Kelly",
 "Muhammad", "Jabulani", "Sera", "Patel", "Sera"]
d = {} # Creating an empty dictionary
for name in names:
  if name.startswith('S'):
    # Using the dictionary update method
    d.update({name: names.count(name)})
print(d)

{'Sasha': 1, 'Sera': 2}

In [39]:
from collections import Counter
count = [] # Creating an empty list
for name in names:
  if name.startswith("S"):
    # Appending names that start with S to the list
    count.append(name)
 # Using the counter method to return a dictionary
  names = Counter(count)
print(names)

Counter({'Sera': 2, 'Sasha': 1})

In [40]:
def odd_even(a):
  even = []
  odd = []
  for i in a :
    if i % 2 ==0:
      even.append(i)
    if i % 2 != 0:
      odd.append(i)

  return max(even) - min(odd)

print(odd_even([1,2,3,4,5,6]))

5