<a href="https://colab.research.google.com/github/Amarjeet-1998/Python_Practice2022/blob/main/Python_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 1: Division and Square-root
Write a function called divide_or_square that takes one
argument (a number), and returns the square root of the number
if it is divisible by 5, returns its remainder if it is not divisible by
5. For example, if you pass 10 as an argument, then your function
should return 3.16 as the square root.

In [1]:
def divide_or_square(number):
  if number % 5 == 0:
    sq_root = number ** 0.5
    return (f'The square-root of the number is {sq_root}')
  else:
    remainder = number % 5
    return (f'The remainder of the division is {remainder}')
print(divide_or_square(10))

The square-root of the number is 3.1622776601683795

In [3]:
def longest_value(d:dict):
  #using max and key len to get the longest value
  longest = max(d.values(),key= len)
  return longest

fruits = {'fruit': 'apple', 'color':'green'}
print(longest_value(fruits))

apple

In [4]:
def convert_add(list1):
  b = []
  for i in list1:
    b.append(int(i))
  return sum(b)

print(convert_add(['1','3','5']))

9

In [9]:
def convert_add(list1:list):
  list2 = []
  count = 0
  for i in list1:
    list2.append(int(i))
  for j in list2:
    count += j
  return sum(list2)
print(convert_add(['1','3','5']))

9

In [10]:
def check_duplicates(arr:list):
  for item in arr:
    #using count to find items more than one
    if arr.count(item) > 1:
      return item
    else:
      return 'No duplicates'

#lists
fruits = ['apple','orange','banana','apple']
names = ['Yoda','Moses','Joshua','Mark']

print(check_duplicates(fruits))
print(check_duplicates(names))

apple
No duplicates

In [12]:
register = {'Michael':'yes','John':'no',
            'Peter':'yes','Mary':'yes'}

def register_check(reg: dict):
  #create a count variables
  count = 0
  for value in reg.values():
    count += 1
  
  print('Number of students in school is', count)

print(register_check(register))

Number of students in school is 4
None

In [14]:
register ={'Michael':'yes','John':'no',
           'Peter':'yes','Mary':'yes'}

def register_check(reg: dict):
  count = 0
  for value, key in reg.items():
    if value == 'yes':
      count += 1
    return ('Number of students in school is', count)

print(register_check(register))

('Number of students in school is', 0)

In [16]:
names = ['kerry','dickson','John','Mary','carol','Rose','adam']

# creating an empty list
d = []
#Using sorted function to sort list in descending order
for name in sorted(names, reverse = True):
  if name.islower():
    d.append(name)
    tuple_names = tuple(d)

print(tuple_names)

('kerry', 'dickson', 'carol', 'adam')

In [17]:
def only_float(a,b):
  if type(a) == float and type(b) == float:
    return 2
  elif type(a) == float or type(b) == float:
    return 1
  else:
    return 0

print(only_float(12.1, 23))

1

In [20]:
def word_index(arr:list):
  for word in arr:
    for j in range(len(arr) - 1):
      #checking if the lengths of all the words are equal
      if len(arr[j]) == len(arr[j + 1]):
        return 0
      #Using len function and max to find the longest word
      elif len(word) == len(max(arr)):
        #using list method index to find
        #index of the longest word
        return (f'The longest word is at index: {arr.index(word)}')

word1 = ["hate", 'remorse','vengeance']
word2 = ['Love','Hate']
print(word_index(word1))
print(word_index(word2))

The longest word is at index: 2
0

In [21]:
def my_discount():
  price = int(input('Enter the price: '))
  discount = int(input('Enter the discount: '))
  aft_dsc = price * (100 - discount) / 100
  return ('Price after discount is', aft_dsc)

print(my_discount())

Enter the price: 40
Enter the discount: 10
('Price after discount is', 36.0)

In [24]:
students = ['Male', 'Female', 'female', 'male', 'male', 'male',
            'female', 'male', 'Female', 'Male', 'Female', 'Male', 'female']

def count_students(arr : list) -> list:
  #create an empty list to append lowercase strings
  new_list = []
  student_count = []
  #converting names to lowercase
  #add appending to new_list
  for names in students:
    new_list.append(names.lower())
    #Finding and counting all males in the 
    #list and putting it in a tuple

    for sex in new_list:
      if sex == 'Male':
        student_count.append((sex, new_list.count(sex)))
        break
    # finding and counting all females in the
    #list and putting it in a tuple
    for j in new_list:
      if j == 'female':
        student_count.append((j, new_list.count(j)))
        break
        #returning a tuple of students

    return student_count

print(count_students(students))

[]

In [27]:
def user_name ():
  your_email = input("Enter your email")
  user_name = your_email.split('@')[0]
  return (f'Your user name is {user_name}')

print(user_name)

<function user_name at 0x7f8eb2be5320>

In [28]:
list1 = [2,5,7,8,9]

def zeroed(arr: list) -> list:
  #Access and modify the first element
  arr[0] = 0
  #Access and modify the last element
  arr[-1] = 0
  return arr

print(zeroed(list1))

[0, 5, 7, 8, 0]

In [30]:
def string_range(num: int):
  x = [str(i) for i in range(num)]
#using join method to add dots
  x = ".". join(x)
  return x

print(string_range(6))

0.1.2.3.4.5

In [31]:
names = ["Joseph", "Nathan", "Sasha", "Kelly",
        "Muhammad", "Jabulani", "Sera", "Patel", "Sera"]

d = {}
for name in names:
  if name.startswith('S'):
    #using the dictionary update method
    d.update({name:names.count(name)})
print(d)

{'Sasha': 1, 'Sera': 2}

In [36]:
from collections import Counter

count = []
for name in names:
  if name.startswith("S"):
    #Appending names that start with S to the list
    count.append(name)
  names = Counter(count)

print(names)

Counter()

In [37]:
def odd_even(a):
  even = []
  odd = []
  for i in a:
    if i % 2 == 0:
      even.append(i)
    if i % 2 != 0:
      odd.append(i)
  return max(even) - min(odd)
print(odd_even([1,2,3,4,6,3]))

5

In [39]:
def prime_numbers() -> list:
  prime_num = []
  n = int(input("please enter a number (integer): "))
  #creating a range of the input number
  #remember to add a 1 and the end ensure
  #all numbers in the range are covered
  for i in range(0, n + 1):
    #only numbers above 1 are needed
    if i > 1:
      for j in range(2, i):
        #if a number in the range is divisible by j
        #then number is not prime
        if i % j == 0:
          break
        else:
          prime_num.append(i)
  return prime_num

print(prime_numbers())

please enter a number (integer): 24
[3, 5, 5, 5, 7, 7, 7, 7, 7, 9, 11, 11, 11, 11, 11, 11, 11, 11, 11, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 15, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 21, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23]

In [40]:
def biggest_odd(string1: str):
  odd_nums = [i for i in string1 if int(i) % 2 != 0]
  return (f'The biggest old number is {max(odd_nums)}')
print(biggest_odd('23569'))

The biggest old number is 9