<a href="https://colab.research.google.com/github/Amarjeet-1998/Python_Practice2022/blob/main/Untitled81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Division and square-root

def divide_or_square(number):
  if number % 5 == 0:
    sq_root = number ** 0.5
    return (f'The square-root of the number is {sq_root}')
  else:
    remainder = number % 5
    return(f"The remainder of the division is {remainder}")
print(divide_or_square(10))

The square-root of the number is 3.1622776601683795

In [5]:
def longest_value(d:dict):
  #using max and key len to get the longest value
  longest = max(d.values(), key=len)
  return longest

fruits = {'fruit': 'apple', 'color':'green'}
print(longest_value(fruits))

apple

In [6]:
# Convert the strings in the list into integers

def convert_add(list1):
  b = []
  for i in list1:
    b.append(int(i))
  return sum(b)
print(convert_add(['1','3','5']))

9

In [10]:
def convert_add(list1:list):
  list2 = []
  count = 0
  for i in list1:
    list2.append(int(i))
  for j in list2:
    count += j
  return count

print(convert_add(['1','3','5']))

9

In [11]:
# Duplicate Names
def check_duplicates(arr: list):
  for item in arr:
    #using count to find items more than one
    if arr.count(item) > 1:
      return item
    else:
      return 'No duplicates'
#lists
fruits = ['apple','orange','banana','apple']
names = ['Yoda','Morse','Joshua','Mark']

print(check_duplicates(fruits))
print(check_duplicates(names))

apple
No duplicates

In [13]:
#Register check
register = {'Michael':'yes','John':'no',
            'Peter':'yes','Mary':'yes'}
          
def register_check(reg: dict):
  #create a count variable
  count=0
  for value in reg.values():
    if value == 'yes':
      count += 1
  return ('Number of students in school is', count)

print(register_check(register))

('Number of students in school is', 3)

In [18]:
register = {'Micheal':'yes','John':'no',
            'Peter':'yes','Mary':'yes'}
def register_check(reg: dict):
  count = 0
  for value, key in reg.items():
    if value == 'yes':
      count += 1
  return ('Number of students in school is', count)

print(register_check(register))

('Number of students in school is', 0)

In [19]:
#lower case name

names = ['kerry','dickson','John','Mary',
         'carol','Rose','adam']
#creating an empty list
d = []
#using sorted function to sort lists in descending order
for name in sorted(names, reverse = True):
  if name.islower():
    d.append(name)
    tuple_names = tuple(d)
print(tuple_names)

('kerry', 'dickson', 'carol', 'adam')

In [1]:
# day 4

def only_float(a,b):
  if type(a) == float and type(b) == float:
    return 2
  elif type(a) == float or type(b) == float:
    return 1
  else:
    return 0

print(only_float(12.1, 23))

1

In [2]:
# Index of the longest word

def word_index(arr: list):
  for word in arr:
    for j in range(len(arr) - 1):
      #checking if the lengths of all the words are equal
      if len(arr[j]) == len(arr[j + 1]):
        return 0
      #using len function and max to find the longest word
      elif len(word) == len(max(arr)):
        #using list method index to find
        #index of the longest word
        return (f'The longest word is at index: {arr.index(word)}')

words1 = ["Hate", "remorse","vengeance"]
words2 = ["Love","Hate"]
print(word_index(words1))
print(word_index(words2))

The longest word is at index: 2
0

In [3]:
# Day 5
#calculate the discount

def my_discount():
  price = int(input("Enter the price: "))
  discount = int(input("Enter the discount: "))
  aft_dsc = price * (100-discount)/100
  return('Price after discount is', aft_dsc)

print(my_discount())

Enter the price: 100
Enter the discount: 23
('Price after discount is', 77.0)

In [4]:
# Tuple of student sex

students = ['Male','female','female','male','male','male','female',
            'female','male','female','male','female','male','female']

def count_students(arr: list) -> list:
  #create an empty list to append lowercase strings
  new_list = []
  student_count = []
  #converting names to lowercase
  #and appending to new_list
  for names in students:
    new_list.append(names.lower())
  #finding and counting all males in the
  #list and putting it in a tuple
  for sex in new_list:
    if sex == 'male':
      student_count.append((sex, new_list.count(sex)))
      break
  # Finding and counting all females in the 
  #list and putting it in a tuple
  for j in new_list:
    if j == 'female':
      student_count.append((j, new_list.count(j)))
      break
      #returning a tuple of students
  return student_count

print(count_students(students))

[('male', 7), ('female', 7)]

In [6]:
# Day 6

def user_name():
  your_email = input("Enter your email")
  user_name = your_email.split('@')[0]
  return (f'You user name is {user_name}')

print(user_name())

Enter your emailamarjeet214690@gmail.com
You user name is amarjeet214690

In [7]:
# zero both ends
list1 = [2,5,7,8,9]

def zeroed(arr: list) -> list:
  #Access and modify the first element
  arr[0] = 0
  #Access and modify the last element
  arr[-1] = 0
  return arr

print(zeroed(list1))

[0, 5, 7, 8, 0]

In [8]:
# Day 7

def string_range(num: int):
  x = [str(i) for i in range(num)]
  #using join method to add dots
  x = ".".join(x)
  return x
print(string_range(6))

0.1.2.3.4.5

In [12]:
#Dictionary of names

names = ['Joseph','Nathan','Sasha','Kelly',
         'Muhammad','Jabulani','Sera','Patel','Sera']

d = {} # creating an empty dictionary
for name in names:
  if name.startswith("S")
  #using the dictionary update method
  d.update({name: names.count(name)})

print(d)

SyntaxError: ignored

In [15]:
from collections import Counter

names = ['Joseph','Nathan','Sasha','Kelly',
         'Muhammad','Jabulani','Sera','Patel','Sera']
count = []
for name in names:
  if name.startswith('S'):
  #Appending names that start with S to the list
    count.append(name)
  #using the counter method to return a dictionary
  names = Counter(count)
print(names)

Counter({'Sera': 2, 'Sasha': 1})

In [16]:
# Day 8

def odd_even(a):
  even = []
  odd = []
  for i in a:
    if i % 2 == 0:
      even.append(i)
    if i % 2 != 0:
      odd.append(i)
  return max(even) - min(odd)
print(odd_even([1,2,4,6]))

5

In [21]:
# List of Prime Numbers

def prime_numbers() -> list:
  prime_num = []
  n = int(input('Please enter a number (interger): '))
  #creating a range of the input number
  #remember to add a 1 and the end ensure
  # all numbers in the range are covered
  for i in range(0, n + 1):
    #only numbers above 1 are needed
    if i > 1:
      for j in range(2, i):
        #if a number in the range is divisible by j
        # then number is not prime
        if i % j == 0:
          break
        else:
          prime_num.append(i)


    return prime_num
print(prime_numbers())

Please enter a number (interger): 34
[]

In [22]:
#day 9
def biggest_odd(string1: str):
  odd_nums = [i for i in string1 if int(i) % 2 != 0]
  return(f'The biggest old number is {max(odd_nums)}')

print(biggest_odd('23569'))

The biggest old number is 9

In [23]:
# Zeros to the end

def zeros_last(arr: list) -> list:
  i = 0 # setting index 0
  arr1 = arr
  for num in arr:
    #checking for non-zero numbers
    if num != 0:
      #Moving non-zero numbers to the front of the list
      arr[i] = num
      i += 1

# Moving zero elements to the end of the list.
  while i < len(arr):
    arr[i] = 0
    i += 1
    return arr
  else:
    #if no zeros return original list in ascending order
    return sorted(arr1)

list1 = [1,4,6,0,7,0]
list2 = [2,1,4,7,6]

print(zeros_last(list1))
print(zeros_last(list2))

[1, 4, 6, 7, 0, 0]
[1, 2, 4, 6, 7]

In [24]:
# day 10
def your_password():
  password1 = input('Enter password')
  password = len(password1) * '*'
  return (f'You password is {password}'\
          f'and its {len(password)} characters long')

print(your_password())

Enter password1234swe
You password is *******and its 7 characters long

In [25]:
# Thousand separator

def convert_numbers(n):
  new_list = []
  for num in n:
    new_list.append("{:,}".format(num))
  return new_list

print(convert_numbers([100000, 2356789, 234556789]))

['100,000', '2,356,789', '234,556,789']

In [26]:
# day 11

def equal_strings(st1, st2):
  str1 = sorted(st1)
  str2 = sorted(st2)
  if str1 == str2:
    return True
  else:
    return False

print(equal_strings('love','evol'))

True

In [27]:
# swap values

def swap_values(arr: list):
  # create a variable for first number
  first_number = arr[0]
  #create a second variable for the last number
  last_number = arr[-1]
  #assign last number to index 1
  arr[0] = last_number
  #assign first number to index -1
  arr[-1] = first_number
  return arr
list1 =[2, 4, 67, 7]
print(swap_values(list1))

[7, 4, 67, 2]

In [28]:
# day 12
def count_dots(word):
  m = word.split(".")
  return (f'The string has {len(m) -1} dots')

print(count_dots("h.e.l.p."))

The string has 4 dots

In [30]:
# your age in minutes

from datetime import datetime

def your_age():
  while True:
    birth_year = input("Enter your year of birth: ")
    if len(birth_year) != 4:
      print('Please enter a four digits year')
    elif int(birth_year) < 1900 or int(birth_year) > 2022:
      print('Please enter a valid year')
    else:
      #This returns the current year
      now1 = int(datetime.now().strftime("%Y"))
      age = (now1 - int(birth_year)) * 525600
      return (f'You are {age:,} minutes old.')
print(your_age())

Enter your year of birth: 1998
You are 12,614,400 minutes old.